{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block contenu %}
	<div class="uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center" style="background-image: url(/img/home_background.jpg); height: 100vh;" uk-parallax="bgy: -200">
		<section class="uk-container">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté(e) en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}
				<div>
					<h1 class="h3 mb-3 font-weight-normal" style="color: #fafafa; font-family: 'Nunito', sans-serif; font-weight: 700;">Connexion</h1>
					<label style="color: #fafafa;" for="inputPseudo">Pseudo</label>
					<input class="uk-input uk-margin-bottom" type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" autocomplete="pseudo" required autofocus>
					<label style="color: #fafafa;" for="inputPassword">Mot de passe</label>
					<input class="uk-input" type="password" name="password" id="inputPassword" autocomplete="current-password" required>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{#
									        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
									        See https://symfony.com/doc/current/security/remember_me.html
									
									        <div class="checkbox mb-3">
									            <label>
									                <input type="checkbox" name="_remember_me"> Remember me
									            </label>
									        </div>
									    #}

					<button class="uk-button uk-button-primary uk-margin-medium-top uk-align-center" type="submit">
						Se connecter
					</button>
				</div>
			</form>
		</section>
	</div>
{% endblock %}
