{% extends 'base.html.twig' %}

{% block title %}Formations
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block contenu %}
	<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
		<h2 style="font-family: 'Nunito', sans-serif; font-weight: 700;">Formations</h2>
		<table class="uk-table uk-table-divider uk-table-responsive">
			<thead>
				<tr>
					<th>Intitulé</th>
					<th>Descriptif</th>
					<th>Sessions disponibles</th>
				</tr>
			</thead>
			{% for formation in formations %}
				<tr>
					<td>
						<a href="{{ path('formation_show', {id: formation.id}) }}["><strong>{{ formation.nom }}</strong></a>
					</td>
					<td>{{ formation.descriptif }}</td>
					<td>
						<a href="{{ path('session_index') }}">{{ formation.sessions | length }}</a>
					</td>
					{% if is_granted("ROLE_ADMIN") %}
						<td>
							<a class="uk-button-small uk-button-primary" href="{{ path('formation_edit', {id: formation.id}) }}" uk-icon="icon: file-edit" title="Modifier"></a>
							<a class="uk-button-small uk-button-danger" href="{{ path('formation_confirmation', {id: formation.id}) }}" uk-icon="icon: trash" title="Supprimer"></a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tbody></tbody>
		</table>
		{% if is_granted("ROLE_ADMIN") %}
			<a class=" uk-button uk-button-primary " href="{{ path('formation_add') }}">
				+ Ajouter
			</a>
		{% endif %}
	</section>
{% endblock %}