{% extends 'base.html.twig' %}

{% block title %}
Inscrivez-vous
{% endblock %}

{% block contenu %}
	<div class="uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center"  uk-parallax="bgy: -200">
		<section class= "uk-container uk-background-default show">
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			<h1 class="uk-margin-top">Inscrivez-vous</h1>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.pseudo) }}
			{{form_row(registrationForm.plainPassword, {label: 'Password' }) }}     
			{{ form_row(registrationForm.agreeTerms) }}
			<button type="submit" class="uk-button uk-button-primary uk-align-center">Register</button>
			{{ form_end(registrationForm) }}
		</section>
	</div>
{% endblock %}
