{% extends 'base.html.twig' %}

 {% block contenu %}
    <h2>Stagiaires inscrits</h2>
    <table class="uk-table uk-table-striped uk-table-responsive">
        <thead>
            <tr>
               <th>Nom/Prénom</th>
               <th>Sexe<th>
               <th>Date de naissance</th>
               <th>Ville</th>
               <th>Mail</th>
               <th>Tél</th>
            </tr>
        </thead>
            {% for stagiaire in stagiaires %}
               <tr> 
                  <td><a href="{{ path('stagiaire_show') }}">{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom }}</a></td>
                  <td>{{ stagiaire.sexe }}</td>
                  <td>{{ stagiaire.dateNaissance | date('d/m/Y') }}</td>
                  <td>{{ stagiaire.ville }}</td>
                  <td>{{ stagiaire.mail }}</td>
                  <td>{{ stagiaire.telephone }}</td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock %}


