{% extends 'base.html.twig' %}

{% block title %}Liste des sessions
{% endblock %}

{% block contenu %}
	<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
		<h2>Sessions disponibles</h2>
		<table class="uk-table uk-table-divider uk-table-responsive">
			<thead>
				<tr>
					<th>Formation</th>
					<th>Date début</th>
					<th>Date fin</th>
					<th>Nb de places disponibles</th>
					<th>Nb de places restantes</th>
				</tr>
			</thead>
			{% for session in sessions %}
				<tr>
					<td>
						<a href="{{ path('formation_index', {id: session.formation.id}) }}">{{ session.formation.nom }}</a>
					</td>
					<td>{{ session.dateD | date('d/m/Y') }}</td>
					<td>{{ session.dateF | date('d/m/Y') }}</td>
					<td>{{ session.nbPlaces }}</td>
					<td>{{ session.nbPlaces - session.stagiaire | length}}</td>
					{% if is_granted("ROLE_ADMIN") %}
						<td>
							<a class="uk-button-small uk-button-primary" href="{{ path('session_edit', {id: session.id}) }}" uk-icon="icon: file-edit" title="Modifier"></a>
							<a class="uk-button-small uk-button-danger" href="{{ path('session_delete', {id: session.id}) }}" uk-icon="icon: trash" title="Supprimer"></a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tbody></tbody>
		</table>
		{% if is_granted("ROLE_ADMIN") %}
			<a class=" uk-button uk-button-primary " href="{{ path('session_add') }}">
				+ Ajouter
			</a>
		{% endif %}
	</section>
{% endblock %}
