{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block contenu %}
    <h2>Sessions disponibles</h2>
    <table class="uk-table uk-table-divider uk-table-responsive">
        <thead>
            <tr>
               <th>Formation</th>
               <th>Date début</th>
               <th>Date fin</th>
               <th>Nb de places disponibles</th>
            </tr>
        </thead>
            {% for session in sessions %}
               <tr> 
                  <td><a href="{{ path('formation_index', {id: session.formation.id}) }}">{{ session.formation.nom }}</a></td>
                  <td>{{ session.dateD | date('d/m/Y') }}</td>
                  <td>{{ session.dateF | date('d/m/Y') }}</td>
                  <td>{{ session.nbPlaces }}</td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock %}




