{% extends 'base.html.twig' %}

{% block title %}Ajouter/modifier une session{% endblock %}

{% block contenu %}
<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
   {% if editMode %}
      <h2>Modifier une session</h2>
   {% else %}
      <h2>Ajouter une session</h2>
   {% endif %}
      {{ form_start(formAddSession) }}
			{{ form_row(formAddSession.formation) }}
			{{ form_row(formAddSession.dateD) }}
			{{ form_row(formAddSession.dateF) }}     
			{{ form_row(formAddSession.nbPlaces) }}
         <ul id="stagiaires" data-prototype="{{ form_row(formAddSession.stagiaire.vars.prototype)|e }}">
            {% for stagiaire in formAddSession.stagiaire %}
               <li class="stagiaire">
               {{ form_row(stagiaire) }}
               </li>
            {% endfor %}
         </ul>
			{{ form_row(formAddSession.envoyer) }}
		{{ form_end(formAddSession) }}
</section>
{% endblock %}
{% block javascripts %}
   {{ parent() }}
   <script src="/js/collectionHandler.js"></script>
{% endblock %}