{% extends 'base.html.twig' %}

{% block title %}Détails session
{% endblock %}

{% block contenu %}
	<main class="uk-card">
		<div class="uk-background-cover uk-background-top-left  uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center" uk-parallax="bgy: -200">
			<section class="uk-container uk-background-default">
				<h1 class="uk-card-title uk-margin-top">Détails session</h1>
				<h2>{{ session.formation }}</h2>
				<div class="uk-column-1-2">
					<p>Date de Début:
						<strong>{{ session.dateD | date('d-m-Y') }}</strong>
					</p>
					<p>Date de fin:
						<strong>{{ session.dateF | date('d-m-Y')}}</strong>
					</p>
					<p class="uk-margin-xlarge-bottom">Nombre de places disponibles:
						<strong>{{ session.nbPlaces - session.stagiaire | length}}</strong>
					</p>
					<h4 class="uk-margin-large-left">Liste des modules:</h4>       
					<p>
						{% for programmer in session.programmers %}
							<a href="{{ path('module_show', {id: programmer.modules.id}) }}" class="uk-margin-large-left">{{ programmer.modules.libelle }} :</a>
							{{ programmer.duree }} jours.<br>
						{% endfor %}
					</p> 
					{% if is_granted("ROLE_ADMIN") %}
                        <a class=" uk-margin-large-left uk-button uk-button-default add-btn" href="{{ path('add_duree', {id: session.id}) }}">
                            + Ajouter
                        </a>
                    {% endif %}
				</div>
			</section>
		</div>
	</main>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/js/collectionHandlerDuree.js"></script>
{% endblock %}
