{% extends 'base.html.twig' %}

{% block title %}Détails session
{% endblock %}

{% block contenu %}
	<main class="uk-card">
		<div class="uk-background-cover uk-background-top-left uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-column uk-flex-center" uk-parallax="bgy: -200">
		    <div class="uk-width-1-1 uk-container">
			    <a href="{{ path('stagiaire_index')}}" class="back-btn-alt uk-button uk-button-default uk-margin-large-bottom uk-margin-xlarge-left">
		            <span uk-icon="arrow-left"></span> RETOUR
		        </a>
			</div>	
			<section class="uk-container uk-background-default">
				<h1 class="uk-card-title uk-margin-top">Détails session</h1>
				<h2>{{ session.formation }}</h2>
				<div class="uk-column-1-3 uk-grid">
				<div class="">
					<p>Date de début :
						<strong>{{ session.dateD | date('d-m-Y') }}</strong>
					</p>
					<p>Date de fin :
						<strong>{{ session.dateF | date('d-m-Y')}}</strong>
					</p>
					<p class="uk-margin-xlarge-bottom">Nombre de places disponibles :
						<strong>{{ session.nbPlaces - session.stagiaire | length}}</strong>
					</p>
				</div>
				<div class="">
					<h4 class="uk-margin-large-left">Liste des modules :</h4>       
					<p>
						{% for programmer in session.programmers |sort((a, b) => a.modules.libelle <=> b.modules.libelle) %}
							<a href="{{ path('module_show', {id: programmer.modules.id}) }}" class="uk-margin-large-left">{{ programmer.modules.libelle }} :</a>
							{{ programmer.duree }} jours.<br>
						{% endfor %}
					</p> 
					{% if is_granted("ROLE_ADMIN") %}
                        <a class=" uk-margin-large-left uk-button uk-button-default add-btn" href="{{ path('add_duree', {id: session.id}) }}">
                            + Ajouter
                        </a>
                    {% endif %}
					</div>
					<div class="">
					<h4 class="uk-margin-large-left">Liste des stagiaires :</h4>
					<p>
						{% for stagiaire in session.stagiaire |sort((a, b) => a.modules.libelle <=> b.modules.libelle) %}
							<a href="{{ path('stagiaire_show', {id: stagiaire.id}) }}" class="uk-margin-large-left">{{ stagiaire.prenom ~ ' ' ~ stagiaire.nom  }}</a><br>
						{% endfor %}
					</p> 
					{% if is_granted("ROLE_ADMIN") %}
                        <a class=" uk-margin-large-left uk-button uk-button-default add-btn" href="{{ path('add_duree', {id: session.id}) }}">
                            + Ajouter
                        </a>
                    {% endif %}
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/js/collectionHandlerDuree.js"></script>
{% endblock %}
