<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Super Formation{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" ></link>
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header class="uk-flex uk-flex-around">
			    <a class="" href="{{ path('home') }}">
				    <img data-src="img/logo.png" width="300" height="200" alt="" uk-img>
			    </a>
				<div class="uk-margin-top">
				    <span uk-icon="user"></span>						
					{% if is_granted("ROLE_USER") %}
                			<a class="uk-button uk-button-secondary" href="{{ path('app_logout') }}">Se déconnecter</a>
						{% else %}
						    <a class="uk-active uk-link-heading" href="{{ path('app_register') }}">S'enregister</a>
							<a class="uk-button uk-button-secondary uk-margin-left" href="{{ path('app_login') }}">Connexion</a>					
                    {% endif %}	
				</div>
			</header>
			
			<div class="uk-navbar-container">
				    <nav class="uk-navbar-nav uk-flex-around">
						<a class="uk-active uk-link-heading"  href="{{ path('formation_index') }}">Formations</a>
						<a class="uk-active uk-link-heading" href="{{ path('session_index') }}">Sessions</a>
                        {% if is_granted("ROLE_USER") %}
						<a class="uk-active uk-link-heading" href="{{ path('stagiaire_index') }}">Stagiaires</a>
						<a class="uk-active uk-link-heading" href="{{ path('categorie_index') }}">Catégories</a>
						<a class="uk-active uk-link-heading" href="{{ path('module_index') }}">Modules</a>
						{% endif %}	
						
						{% if is_granted("ROLE_ADMIN") %}
                			<a class="uk-active uk-link-heading" href="{{ path('user_index') }}">Admin</a>
                		{% endif %}	
									
				    </nav>
				</div>
					<div class="uk-container">
			{% block contenu %}{% endblock %}
					</div>
			<footer class="uk-flex uk-flex-center uk-background-secondary">
			     <small> All rights reserved 2021 Alexis Boulange & Martin Bessey</small>
			</footer>
		{% endblock %}
	</body>		
	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>
	{% endblock %}
</html>

