<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Super Formation{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" ></link>
			<link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{asset('css/style.css')}}">
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header class="uk-flex uk-flex-between ">
			    <a class="uk-margin-small-top uk-margin-large-left" href="{{ path('home') }}">
				    <img src="{{ asset('/img/logo.png')}}" width="300" height="200" alt="" >
			    </a>
				<div class="uk-margin-medium-top uk-margin-large-right">
					{% if is_granted("ROLE_USER") %}
				    	{{ app.user.pseudo }} <a class="uk-margin-right" href="{{ path('user_show', {id: app.user.id}) }}"><i class="far fa-user"></i></a>						
                		<a class="logout uk-button uk-button-secondary login-btn" href="{{ path('app_logout') }}">Se déconnecter</a>
					{% else %}
						<a class="uk-active uk-link-heading register-btn" href="{{ path('app_register') }}">S'enregister</a>
						<a class="uk-button uk-button-secondary uk-margin-left login-btn" href="{{ path('app_login') }}">Connexion</a>					
                    {% endif %}	
				</div>
			</header>
			<div class="uk-margin-medium-top">
				<nav class="uk-navbar-nav uk-flex-around uk-margin-small-bottom">
					<a class="uk-active uk-link-heading uk-text-bold" href="{{ path('formation_index') }}">Formations</a>
					<a class="uk-active uk-link-heading uk-text-bold" href="{{ path('session_index') }}">Sessions</a>
					    
					{% if is_granted("ROLE_USER") %}
						<a class="uk-active uk-link-heading uk-text-bold" href="{{ path('stagiaire_index') }}">Stagiaires</a>
						<a class="uk-active uk-link-heading uk-text-bold" href="{{ path('categorie_index') }}">Catégories</a>
						<a class="uk-active uk-link-heading uk-text-bold" href="{{ path('module_index') }}">Modules</a>
					{% endif %}	
						
					{% if is_granted("ROLE_ADMIN") %}
                		<a class="uk-active uk-link-heading uk-text-bold" href="{{ path('user_index') }}">Admin</a>
                	{% endif %}					
				</nav>
			</div>
			{% block contenu %}{% endblock %}
			<footer class="uk-flex uk-flex-center uk-background-secondary uk-position-fixed uk-position-bottom">
			    <small> All rights reserved 2021 Alexis Boulange & Martin Bessey</small>
			</footer>
		{% endblock %}
	</body>		
	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="app.js"></script>
	{% endblock %}
</html>

