<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Caribou Formation{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" /
		{% endblock %}
	</head>
	<body class="uk-container uk-margin">
		{% block body %}
			<header>
			    <div class="uk-navbar-container">
				    <nav class="uk-navbar-nav uk-flex-around">
						<a class="uk-active uk-link-heading"  href="{{ path('formation_index') }}">Formations</a>
						<a class="uk-active uk-link-heading" href="{{ path('session_index') }}">Sessions</a>
						<a class="uk-active uk-link-heading" href="{{ path('stagiaire_index') }}">Stagiaires</a>
						{% if is_granted("ROLE_ADMIN") %}
                			<a class="uk-active uk-link-heading" href="{{ path('user_index') }}">Admin</a>
                		{% endif %}				
						{% if is_granted("ROLE_USER") %}
                			<a class="uk-active uk-link-heading" href="{{ path('app_logout') }}">Se déconnecter</a>
						{% else %}
							<a class="uk-active uk-link-heading" href="{{ path('app_login') }}">Se connecter</a>
							<a class="uk-active uk-link-heading" href="{{ path('app_register') }}">S'enregister</a>
                		{% endif %}	
				    </nav>
				</div>
			</header>
			{% block contenu %}{% endblock %}
		{% endblock %}
	</body>		
	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>
	{% endblock %}
</html>

