{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block contenu %}
    <section class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <h2 style="font-family: 'Nunito', sans-serif; font-weight: 700;">Catégories</h2>
    <table class="uk-table uk-table-divider uk-table-responsive" style="font-family: 'Nunito', sans-serif;">
        <thead>
            <tr>
               <th>Nom</th>
               <th>Détail</th> 
            </tr>
        </thead>
            {% for categorie in categories %}
               <tr> 
                  <td><strong>{{ categorie.nom }}</strong></td>
                  <td>{{ categorie.detail }}</td>
                  {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a class="uk-button-small uk-button-primary" href="{{ path('categorie_edit', {id: categorie.id}) }}" uk-icon="icon: file-edit" title="Modifier"></a>
                            <a class="uk-button-small uk-button-danger" href="{{ path('categorie_delete', {id: categorie.id}) }}" uk-icon="icon: trash" title="Supprimer"></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        <tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a class=" uk-button uk-button-primary " href="{{ path('categorie_add') }}"> + Ajouter </a>
    {% endif %}
    </section>
{% endblock %}

