{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block contenu %}
<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
      {{ form_start(formEditUser) }}
			{{ form_row(formEditUser.pseudo) }}
			{{ form_row(formEditUser.email) }}
			{{ form_row(formEditUser.nom) }}     
			{{ form_row(formEditUser.prenom) }}
            {{ form_row(formEditUser.plainPassword) }}
			{{ form_row(formEditUser.envoyer) }}
		{{ form_end(formEditUser) }}
</section>
{% endblock %}