{% extends 'base.html.twig' %}

{% block title %}Liste des users{% endblock %}

{% block contenu %}
<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <h2>Utilisateurs inscrits</h2>
    <table class="uk-table uk-table-divider uk-table-responsive">
        <thead>
            <tr>
                <th>Nom/Prénom</th>
                <th>Date d'inscription</th>
                <th>Mail</th>
                <th>Roles</th>
                {% if is_granted("ROLE_ADMIN") %}
                <th>Modifier/Supprimer</th>
                {% endif %}
            </tr>
        </thead>
            {% for user in users %}
                <tr> 
                    <td><a href="{{ path('user_show', {id: user.id}) }}">{{ user.nom ~ ' ' ~ user.prenom }}</a></td>
                    <td>{{ user.dateEntree | date('d/m/Y')}}</td>
                    <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}</br>
                            {% endfor %}
                        </td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a class="uk-button-small uk-button-primary" href="{{ path('user_edit', {id: user.id}) }}" uk-icon="icon: file-edit" title="Modifier"></a>
                            <a class="uk-button-small uk-button-danger" href="{{ path('user_delete', {id: user.id}) }}" uk-icon="icon: trash" title="Supprimer"></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        <tbody>
    </table>
    </section>
{% endblock %}