{% extends 'base.html.twig' %}

{% block title %}Profil {{ app.user.pseudo }}
{% endblock %}

{% block contenu %}
	<section class="uk-card">
		<div class="uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center" style="background-image: url(/img/home_background.jpg); height: 100vh;" uk-parallax="bgy: -200">
			<div class="uk-container uk-background-default">
			<h2 style="font-family: 'Nunito', sans-serif; font-weight: 700;" class="uk-card-title uk-margin-top">{{ app.user.prenom ~ ' ' ~ app.user.nom }}</h2>
			<div class="uk-column-1-2">
				<p>Avatar :
					{{ app.user.avatar }}</p>
				<p>Date d'inscription :
					{{ app.user.dateEntree | date('d-m-Y') }}</p>
				<p class="uk-margin-xlarge-bottom">Mail :
					{{ app.user.email }}</p>
                            <a class="uk-button-small uk-button-primary" href="{{ path('user_edit', {id: app.user.id}) }}" uk-icon="icon: file-edit" title="Modifier">Modifier mes informations</a>
                            <a class="uk-button-small uk-button-danger" href="{{ path('user_delete', {id: user.id}) }}" uk-icon="icon: trash" title="Supprimer">Supprimer mon profil</a>
				</div>
                
			</div>
		</div>
	</section>
{% endblock %}
